
* {
  box-sizing: border-box !important;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#__next {
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

h1,
h2 {
  color: #eee;
}

p,
a,
summary {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

p span.code {
  font-family: monospace;
  font-size: 80%;
  color: #888;
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1rem;
  border-radius: 0.2rem;
  color: #ccc;
  background-color: #444;
}

code span.comment {
  color: #40ea95;
}

a:hover,
summary:hover,
details[open] summary {
  color: #fff;
}

.help-modal a {
  color: #00baba !important;
  font-size: 1rem;
}

.help-modal p {
  margin-bottom: 15px
}

a {
  color: #fff;
}

summary {
  cursor: pointer;
}

main {
  padding: 10px 20px;
  flex: 1;
  color: black;
}

h1 {
  color: black
}

main > div.ethNotReady {
  color: red
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: #e1f5fe;
}

nav > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black
}

nav a {
  color: black
}

.menu-toggle {
  display: none;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  /* width: 70%; */
}


nav ul li {
  margin: 0px 13px;
  width: max-content;
}

nav ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

nav ul li:hover {
  color: #fff;
}

footer {
  background-color: #222;
  padding: 5px;
}

footer p,
footer a {
  font-size: 14px;
  text-align: center;
  color: #bbb;
}

@media (max-width: 768px) {
  nav, nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    padding: 0px;
  }

  nav ul.show {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 0px 0px 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .bulk-quiz-providers-container {
    flex-direction: column;
  }

  .bulk-quiz-provider {
    margin: 10px 0px !important
  }

}
